<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>
      <types>
      <type type="LearnPrism.IDiskOutput, VideoPlayerInterfacesLibrary" mapTo="LearnPrism.ConsoleDiskOutput, VideoPlayerInputOutputLibrary" />
      <type type="LearnPrism.IDiskCreator, VideoPlayerInterfacesLibrary" mapTo="LearnPrism.MovieDiscFromConsoleCreator, MoviePlayerLibrary" />
      <type type="LearnPrism.IDiskPlayer, VideoPlayerInterfacesLibrary" mapTo="LearnPrism.MoviePlayer, MoviePlayerLibrary" />
      <type type="LearnPrism.IVideosLibrary, VideoPlayerInterfacesLibrary" mapTo="LearnPrism.MoviesLibrary, MoviePlayerLibrary" />
      </types>
    </container>

  </unity>
  
</configuration>